*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.bg {
    width: 100%;
    position: absolute;
    top: -70%;
    filter: brightness(50%);
    z-index: -1;
    
}
li,a,button{
    font-weight: 400;
    font-size: 18px;
    color: rgb(0, 255, 128);
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.logo{
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    /*position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
.nav_link{
    list-style: none;
    float: left;
    padding: 0 30px;
}
button{
    background-color: rgb(0, 255, 128);
    border-style: none;
    color:rgb(0, 116, 58);
    border-radius: 20px;
    width: 80px;
    height: 30px;
}
button:hover{
    background-color:rgb(0, 170, 85);
    color: white;
}
 li > a:hover{
    color: rgb(0, 238, 255); 
    transition: all 0.1s ease-in;
}
a{
    border-bottom: 40px;
}
section{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: flex-start;
    width: 900px;
    height: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-items: center;
    background-color: white;
    box-shadow: 4px 5px 12px black;
}
/*.abtme{
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 50%;
    width:60%;
    
   transform: translate(-50%, -50%);
   
}*/
.me{
    margin-right: 100px;
    margin: 30px;
    left: 90px;
    float: left;
}
.right h3{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    top:50px;
    left:390px;
    width: 590px;
}
.hello::before{
        content: "";
        position: absolute;
        top: 50%;                         
        margin-top: -15px;                 
        left:5%;
        border: solid 10px transparent;
        border-right-color: rgb(0, 255, 128);
        z-index: -1;
    
}
.hello{
    position: absolute;
    top:20px;
    background-color: rgb(0, 255, 128);
    font-size: 20px;
    left:40%;
    text-align: center;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    width:70px;
}
.pro{
    position: absolute;
    left: 44%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    top: 25%;
    border-bottom: 2px solid rgb(0, 255, 128);
}
.details{
    position: absolute;
    right: 0;
    font-family: 'Ubuntu', sans-serif;
    left: 44%;
    bottom:30%;
    font-size: 17px;
}
.brkline{
    position: absolute;
    left: 39%;
    width: 2px;
    top: 11%;
    background-color: rgb(0, 255, 128); 
    height: 300px;
}
.icons{
    position: absolute;
    width: 61%;
    right:0;
    text-align: center;
    justify-content: space-between;
    height: 55px;
    background-color: rgb(0, 255, 128);
    bottom: 0;
}
.icons i{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 30px;
}
.icons a{
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1024px)
{
    body{
        overflow-x: hidden;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
    }
    li{
        display: flex;
        font-size: 15px;
    }
    .nav_link{
        
        padding:0 0;
    }
    .nav_link a{
        font-size:17px;
        padding: 0 10px;

    }
    .bg{
        height: 60%;
        overflow: hidden;
        display: flex;
        position: absolute;
        top: 0%;
        overflow-x: hidden;
    }
    section{
        box-shadow: 8px 10px 19px black;
    }
    .card{
        flex-direction: column;
        position: absolute;
        width: 320px;
        height:700px;
        left: 50%;
        top: 70%;
        
        transform: translate(-50%, -50%);
    }
    .right h3{
        flex-direction: column;
        position: absolute;
        left: 10%;
        top: 52%;
       
    }
    .hello{
        flex-direction: column;
        position: absolute;
        left: 10%;
        top:48%;
    }
    .pro{
        flex-direction: column;
        position: absolute;
        left: 10%;
        top:60%;
        padding-bottom: 10px;
        border-bottom: 2px solid rgb(0, 255, 128);
    }
    .brkline{
        display: none;
    }
    .details{
        flex-direction: column;
        position: absolute;
        left: 10%;
        top:68%;
    }
    .abtme img{
        position: absolute;
        left: 50%;
        margin: 0%;
        top: 23%;
        border-radius: 10px;
        transform: translate(-50%, -50%);
    }
    .icons{
        width:100% ;
        display: flex;
        justify-content: space-evenly;
    }
    .icons i{
        text-align: center;
        margin-left:0;
    }
    .icons a{
        margin-top: 3px;
    }
    .right h3{
        width:250px;
    }
}
