@import url('https://fonts.googleapis.com/css?family=Quicksand:500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   background-color: #273746;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffffff' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23444444' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c6c6c6' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23474747' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23919191' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234b4b4b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%235e5e5e' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234e4e4e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23303030' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23525252' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23000000' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23555555' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
li,a,button{
    font-family:"Quicksand", sans-serif;
    font-weight: 500;
    font-size:16px;
    color:chartreuse;
    text-decoration: none;
}
header{
   background-color: #273746;
    display: flex;
    opacity: 0.9;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    position: sticky;
    top: 0;
   
}
.logo
{cursor: pointer;
}
.nav_links{list-style: none;
    position: sticky;
    top: 0;
}
.nav_links li{display: inline-block;
                padding: 0px 20px;}
.nav_links li a{transition:all 0.3s ease 0s;}
.nav_links li a:hover{color:aqua;}
.contact{
    padding:8px 15px;
    background-color:rgba(0, 210, 96,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;   
}
.contact:hover{background-color:rgba(0, 255, 117,0.5);
}
.goku{
    position: absolute;
    float: left;
    width: 430px;
    top: 20%;
    left: 50px;
}
.kameha{
    position: absolute;
    top: 20%;
    left: 27%;
    width: 30%;
    height: 45%;
    transition: width 3s ease ;

}
.kameha:hover{
    width: 40%;
    transition-duration: 2s;
}

.video iframe{
    position: absolute;
    width: 460px;
    top: 25%;
    height: 255px;
    right: 6%;
    border-radius: 10px;
  
}
.dia{
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    bottom: 10px;
    right:40px;
    height: 200px;
    width: 500px;
    
}
.quote{ 
    color: white;
    text-transform: capitalize;
    text-shadow:2px 2px 30px whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: 100px;
    text-align: center;
    width: 500px;
}
.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
    position: absolute;
    top: 0;
    display: none;
}
.modal-content{
    /*background-color: rgb(151, 255, 154);*/
    z-index: 1;
    width: 500px;
    height: 500px;
    color: azure;
    border-radius: 10px;
    background-color: #273746;
    position: absolute;
    font-family:"Quicksand", sans-serif;
    top: 50%;
    left: 50%;
    padding: 20px;
    justify-content: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    transform: translate(-50% ,-50%);
}
.far{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 150%;
}
.modal-content h3{
    margin-bottom: 30px;
}
.txt, #message{
    
    border-style: none;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    box-shadow: 0px 2px 10px #273746;
}
.modal-content p{
    margin-bottom: 5px;
    margin-top: 6px;
}
.sub{
    margin-top: 50px;
    width: 70px;
    height: 25px;
    background-color: white;
    border-radius: 20px;
    color: #273746;
}
.sub:hover{
    background-color: rgb(65, 193, 59);
}
.txt::placeholder{
    text-align: center;
}
.modal-content input[type ="text"], .modal-content input[type="email"],.modal-content input[type="number"]
{
    border: 0;
    text-align: center;
    font-family:"Quicksand", sans-serif;
}
#message{
    height: 110px;
}
.modal-content textarea.txtarea {
    text-align: center;
    font-family:"Quicksand", sans-serif;
}
@media screen and (max-width: 1000px)
{
    .page
    {
        display: flex;
        flex-direction: column;

    }
    .goku{
        position: absolute;
        top: 25%;
        left: 40%;
        transform: translate(-50%, -50%);
        width:250px;
    }
    .kameha{
        position: absolute;
        top: 25%;
        left: 75%;
        transform: translate(-50%, -50%);
        width:30%;
        height: 25%;
    }
   .video > iframe{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 210px;
    }
   .quote{
    float: none; 
       display: flex;
       justify-content: center;
        position: absolute;
        bottom: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-15%, -50%);
        width:300px;
        height: 25%;
        font-size: 100%;
      
    }
    
}