*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
}
li,a,#button{
    font-weight: 400;
    font-size: 18px;
    color: rgb(0, 255, 128);
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.work{
    border-bottom: 2px solid rgb(0, 255, 128);
}
 
.logo{
    cursor: pointer;
    margin: 0 10px;
}
.header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav_link{
    list-style: none;
    float: left;
    padding: 0 30px;
}

 li > a:hover{
    color: rgb(0, 238, 255);
    transition: all 0.1s ease-in;
}
a{
    border-bottom: 40px;
}
li > a:hover{
    border-bottom: 2px solid rgb(0, 255, 128);
} 
.middle{
    position: absolute;
    top: 50%;
    width: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    display: inline-flex;
    font-family: 'Ubuntu', sans-serif;
}
.card{
    box-shadow: 4px 5px 12px black;
}
@media screen and (max-width:361px){
    .nav_link{
        padding: 0 15px;
    }
}
